<% thumbnailCoverClass = locals.large ? ' thumbnail_cover--large' : '' %> 
<% thumbnailGridClass = locals.large ? ' thumbnail_grid--large' : '' %> 

<div class="thumbnail_grid<%= thumbnailGridClass %>">
    <% recettes.forEach(recette => { %> 
        <a href="/recettes/<%= recette.slug %>">
            <figure class="thumbnail_cover<%= thumbnailCoverClass %>" >
                <img class="thumbnail_img" src="<%= recette.coverImagePath %> " alt="Illustration de la recette <%= recette.title %>">
            <h3><%= recette.title %></h3>
            </figure>
        </a>
    <% }) %> 
</div>
