<div class="form__item">
    <label for="title" class="is-input-required">Titre de la recette</label>
    <input id="title" type="text" name="title" placeholder="Exemple : Poulet au citron" value="<%= recette.title %>" autocomplete="off" required>
</div>
<div class="form__item">
    <label for="ingredient" class="is-input-required">Ingrédient principal de la recette</label>
    <select name="ingredient" id="ingredient" required>
    <% ingredients.forEach(ingredient => { %> 
        <% if (ingredient.id == recette.ingredient) { %> 
            <option selected value="<%= ingredient.id %>"><%= ingredient.name %></option>
        <% } else { %>
            <option value="<%= ingredient.id %>"><%= ingredient.name %></option>
        <% } %>
    <% }); %> 
    </select>
</div>
<div class="form__item">
    <label for="category" class="is-input-required">Catégorie de la recette</label>
    <select name="category" id="category" required>
        <% const categoryOptions = ['Apéritif et buffet', 'Entrée', 'Plat principal', 'Accompagnement', 'Dessert', 'Confiserie', 'Boisson']; %> 
        <% categoryOptions.forEach(option => { %> 
            <% let selected = ( recette.category === option ) ? "selected" : ""; %> 
            <option value="<%= option %>" <%=selected %>><%= option %></option>
        <% }) %>
    </select>
</div>
<div class="form__row">
    <div class="form__item form__item--no-grow">
        <% if (coverRequired) { %> 
            <label for="cover" class="is-input-required">Image de la recette</label>
            <input id="cover" type="file" name="cover" class="filepond" required>
        <% } else { %>
            <label for="cover">Image déjà chargée</label>
            <input id="cover" type="file" name="cover" class="filepond">
        <% } %> 
    </div>
    <div class="form__item--grow">
        <div class="form__item">
            <label for="personCount" class="is-input-required">Pour combien de personnes?</label>
            <input id="personCount" type="number" name="personCount" placeholder="Exemple : 4" min="1" value="<%= recette.personCount %>" required>
        </div>
        <div class="form__item">
            <label for="timeCount" class="is-input-required">Temps total de la recette (en minutes)</label>
            <input id="timeCount" type="number" name="timeCount" placeholder="Exemple : 55" min="1" value="<%= recette.timeCount %>" required>
        </div> 
        <div class="form__item">
            <label for="difficulty" class="is-input-required">Difficulté de la recette</label>
            <select name="difficulty" id="difficulty">
                <% const difficultyOptions = ['Simplissime', 'Facile', 'Moyenne', 'Difficile', 'Niveau grand chef']; %> 
                <% difficultyOptions.forEach(option => { %> 
                    <% let selected = ( recette.difficulty === option ) ? "selected" : ""; %> 
                    <option value="<%= option %>" <%=selected %>><%= option %></option>
                <% }) %>
            </select>
        </div>  
    </div>
</div>
<div class="form__item">
    <label for="listIngredients" class="is-input-required">Liste des ingrédients</label>
    <textarea id="editor_ingredients" name="listIngredients" id="listIngredients"><%= recette.listIngredients %></textarea>
</div>
<div class="form__item">
    <label for="steps" class="is-input-required">Etapes de la recette</label>
    <textarea id="editor_steps" name="steps" id="steps"><%= recette.steps %></textarea>
</div>
