<article class="container section--pb">
    <div class="recette__presentation">
        <h1 class="title--article"><%= recette.title %></h1>
        <div class="title--category"><%= recette.category %></div>
        <h2 class="recette__presentation_ing title--ingredient">Ingrédient principal ― <%= recette.ingredient.name %></h2>
        <div class="recette__presentation_row">
            <div class="recette__presentation_item">
                <h3 class="title--detail">Difficulté</h3>
                <p>
                    <%= recette.difficulty %>
                </p>
            </div>
            <div class="recette__presentation_item">
                <h3 class="title--detail">Temps</h3>
                <p><%= recette.timeCount %> min</p>
            </div>   
           
            <div class="recette__presentation_item">
                <h3 class="title--detail">Personnes</h3>
                <p><%= recette.personCount %></p>
            </div>
        </div>
    </div>
    <div class="container--2col recette__details section">
        <div class="recette__details_cover">
            <figure>
                <img src="<%= recette.coverImagePath %>" alt="Photo de la recette <%= recette.title %>">
            </figure>
        </div>
        <div class="recette__details_ingredients padding-left--l">
            <h2 class="title--section">Ingrédients</h2>
            <div><%- recette.listIngredients %></div>
        </div>
    </div>
    <div class="recette__steps container--small">
        <h2 class="title--section">Préparation</h2>
        <div><%- recette.steps %></div>
    </div>
</article>
<% if (locals.isLogged) {  %>
<div class="container section recette__actions">
    <div class="action__btns action__btns--right">
     <a href="/recettes/<%= recette.slug %>/editer" class="btn btn--primary">Editer</a>
     <%- include('../partials/delete_form.ejs', { url: `/recettes/${recette.slug}` }) %>
    </div>
 </div>
<% } %> 
<aside class="bg--light">
   <div class="container section--large is-centered">
    <h3>Plus d'infos sur l'ingrédient principal de cette recette ?</h3>
    <a href="/ingredients/<%= recette.ingredient.slug %>" class="is-link--body">Voir la fiche <%= recette.ingredient.name %></a>
   </div>
</aside>