<div class="container section--pb">
    <div class="banner">
        <h1 class="title--page banner__title">Recettes</h1>
        <figure class="banner__img">
            <img src="/img/planche-kevin-doran-unsplash.jpg" alt="Une planche à découper sur laquelle on trouve des légumes et herbes">
        </figure>
        <div class="banner__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non at cum vero consectetur, architecto voluptate, molestiae nesciunt reiciendis commodi itaque voluptas magnam animi cumque eius aut illo quibusdam ex asperiores!</div>
    </div>
</div>

<section class="bg--light search__section section--large">
    <div class="container container--2col">
        <div class="padding-right--l">
            <h2 class="title--section">Quel plat mitonner aujourd'hui&nbsp;?</h2>
            <p>Remplissez le formulaire ci-contre et trouvez la recette qui vous fera plaisir.</p>
        </div>
        <div>
            <form action="/recettes" method="GET">
                <div class="form__item">
                    <label for="title">Quel est le titre de la recette&nbsp;?</label>
                    <input id="title" type="text" placeholder="Exemple: Soupe aux choux" name="title" value="<%= searchOptions.title %>">
                </div>
                <div class="form__item">
                    <label for="difficulty">Quel niveau de difficulté&nbsp;?</label>
                    <select name="difficulty" id="difficulty">
                        <option value='' <%= searchOptions.difficulty ? '' : 'selected'%>>--- Choisissez ---</option>
                        <% const difficultyOptions = ['Simplissime', 'Facile', 'Moyenne', 'Difficile', 'Niveau grand chef']; %> 
                        <% difficultyOptions.forEach(option => { %> 
                            <% let selected = ( searchOptions.difficulty === option ) ? "selected" : ""; %>
                            <option value="<%= option %>" <%=selected %>><%= option %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="form__item">
                    <label for="category">Quelle catégorie&nbsp;?</label>
                    <select name="category" id="category">
                        <option value='' <%= searchOptions.category ? '' : 'selected'%>>--- Choisissez ---</option>
                        <% const categoryOptions = ['Apéritif et buffet', 'Entrée', 'Plat principal', 'Accompagnement', 'Dessert', 'Confiserie', 'Boisson']; %> 
                        <% categoryOptions.forEach(option => { %> 
                            <% let selected = ( searchOptions.category === option ) ? "selected" : ""; %>
                            <option value="<%= option %>" <%=selected %>><%= option %></option>
                        <% }) %>
                    </select>
                </div>
            
                <div class="action__btns action__btns--right margin-top--m">
                    <button type="submit" class="btn btn--accent">Rechercher</button>
                </div>
            </form>
        </div>
    </div>
</section>

<section>
    <div class="container section--pb thumbnails">
        <h2 class="title--section is-centered">Toutes les recettes</h2>
        <%- include('../partials/thumbnails_grid.ejs', { recettes: recettes }) %> 
    </div>
</section>