<div class="container section--pb">
    <div class="banner">
        <h1 class="title--page banner__title">Ingrédients</h1>
        <figure class="banner__img">
            <img src="/img/chou-natasha-skov-unsplash.jpg" alt="Des rangées de choux verts vus de dessus">
        </figure>
        <div class="banner__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non at cum vero consectetur, architecto voluptate, molestiae nesciunt reiciendis commodi itaque voluptas magnam animi cumque eius aut illo quibusdam ex asperiores!</div>
    </div>
</div>
<section class="bg--light search__section section--large">
    <div class="container container--2col">
        <div class="padding-right--l">
            <h2 class="title--section">Comment cuisiner un ingrédient en particulier&nbsp;?</h2>
            <p>Entrez dans le champ de recherche ci-contre le fruit ou le légume principal pour lequel vous aimeriez trouver une recette.</p>
        </div>
        <div>
            <form action="/ingredients" method="GET">
                <div class="form__item search__item">
                    <label for="search">Quel ingrédient recherchez-vous&nbsp;?</label>
                    <div class="search__input">
                        <input id="search" type="text" name="name" placeholder="Exemple: Potiron" value="<%= searchOptions.name %>">
                        <button class="btn btn--accent btn--search" type="submit">Rechercher</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<section>
    <div class="container section--pb">
        <h2 class="title--section is-centered">Tous les ingrédients</h2>
        <% if (ingredients.length > 0) { %>
            <% ingredients.forEach(ingredient => { %> 
                <div class="action__row">
                    <h3 class="title--item"><%= ingredient.name %></h3>
                    <div class="action__btns action__btns--right">
                        <a href="/ingredients/<%= ingredient.slug %>" class="btn btn--primary">Afficher</a>
                        <a href="/ingredients/<%= ingredient.slug %>/editer" class="btn btn--secondary">Editer</a>
                        <%- include('../partials/delete_form.ejs', { url: `/ingredients/${ingredient.slug}` }) %> 
                    </div>
                </div>
            <% }) %> 
        <% } else { %>
            <p class="is-centered">Aucun ingrédient n'a encore été créé...</p>
        <% } %>       
    </div>
</section>